<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:config:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="geofencing_test" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>GeoFencing Test</label>
            <tab>advanced</tab>
            <group id="general_test" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Test Group</label>
                <field id="test_field" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test Field</label>
                </field>
            </group>
        </section>
    </system>
</config>
